* {
    font-family: "Roboto", sans-serif;
}

body {
    background-color: rgb(231, 213, 195);
}

.wrapper {
    display: flex;
    background-color: whitesmoke;
    margin: 2em;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.sidebar {
    background-color: rgb(138, 114, 86);
    color: bisque;
    padding: 20px;
    width: 13%;
    border-radius: 15px 0px 0px 15px;
}

.sidebar h1 {
    text-align: center;
}

.sidebar h2 {
    text-align: left;
    margin-left: 20px;
    color: whitesmoke;
}

.profile-picture {
    border-radius: 50%;
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

li {
    font-size: 1em;
    margin-top: 0.5em;
}

ul {
    list-style-type: none;
    padding-left: 0;
    margin: auto;
    width: 70%;
    padding: 10px;
}

.bx-ul {
    margin-left: 4em;
}

a {
    color: bisque;
    text-decoration: none;
}

a:hover {
    font-weight: bold;
}

.main {
    width: 85%;
    padding: 15px;
    margin-top: 5%;
}

.main .section {
    margin-left: 2em;
    margin-bottom: 3em;
}

h2 {
    color: rgb(138, 114, 86);
}

h3 {
    margin-block-end: 0em;
    color: rgb(189, 154, 112);
}

.date {
    font-style: italic;
    font-size: small;
    color: rgb(138, 114, 86);
}
